// Styles de la pagination
.pagination {
    justify-content: center;
    margin-top: 30px;

    .page-link {
        color: var(--primary-color);
        border-color: #dee2e6;
        padding: 0.5rem 0.75rem;
        transition: all 0.3s;

        &:hover {
            background-color: var(--primary-color);
            color: white;
            border-color: var(--primary-color);
            transform: translateY(-2px);
        }
    }

    .page-item {
        &.active .page-link {
            background-color: var(--primary-color);
            border-color: var(--primary-color);
            color: white;
        }

        &.disabled .page-link {
            color: #6c757d;
            pointer-events: none;
            cursor: auto;
        }
    }
}

